.btn-style-home{
    background-color: rgb(178, 1, 21);
    border: none;
    border-radius: 20px;
    width: 17%;
    padding-bottom: 1%;
    padding-top: 1%;
    color: white;
    font-size: 15px;
}

.home-container{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
}