.fight-container{
    display: flex;
    flex-direction: row;
}

.info-container-f{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    padding-top: 3%;
    padding-bottom: 1%;
}

.info-container-f img{
    width: 70%;
    display: block;
    margin: auto;    
}

.text-information-f{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 1%;
    text-align: center;
    font-size: 18px;
}

.btn-style-fight{
    background-color: rgb(178, 1, 21);
    border: none;
    border-radius: 20px;
    width: 70%;
    color: white;
    padding: 4%;
    font-size: 15px;
    display: block;
    margin: auto;
    font-size: 18px;
}

.fight-content{
    background-color: white;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    height: max-content;
}

.text-fight-content{
    text-align: start;
    font-size: 30px;
    color: rgb(73, 73, 73);
    font-family: Arial, Helvetica, sans-serif;
}

.enemy-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-enemy {
    padding-left: 30%;
    padding-top: 10%;
}

.enemy-target{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;    
}

.fight-style-target{
    width: 32%;
    border-radius: 20px;
    border-color: rgba(129, 128, 128, 0.5);
    border-style: solid;
    border-width: 0.5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin: 1%;
    padding-top: 8%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    color: rgb(73, 73, 73);
}

#life-bar{
    width: 100%;
    background-color: gray;
}

#percentage{
    width: 100%;
    height: 10px;
    background-color: rgb(62, 255, 62);
}

.myPokemon{
    margin-top: 9%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.myPokemon-target{
    width: 70%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 20px;
    border-color: rgba(129, 128, 128, 0.5);
    border-style: solid;
    border-width: 0.3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    margin: 1%;
    height: 10vmin;
    padding: 5%;
    padding-bottom: 8%;
    margin-right: 20%;
    margin-left: 5%;
}

.img-character{
    padding-right: 2%;
}

.statistics-style{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: start;
    color: rgb(73, 73, 73);
    width: 40%;
    padding-left: 3%;
    padding-top: 1%;    
}

.buttons-attack{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttons-attack button{
    margin: 3%;
    width: 40%;
    background-color: white;
    border: 1px;
    padding: 3%;
    border-color: rgba(129, 128, 128);
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(73, 73, 73);
}

/*-------------- Responsive Design ------------*/

@media (min-width:600px) and (max-width:990px){

    .info-container-f{
        width: 40%;
    }

    .text-information-f{
        font-size: 13px;
    }

    .fight-style-target{
        font-size: 13px;
        width: 48%;
    }

    .btn-style-fight{
        font-size: 13px;
    }

    .statistics-style{
        font-size: 13px;
    }

    .myPokemon-target{
        width: 80%;
    }

    .buttons-attack button{
        font-size: 13px;
        width: 40%;
    }
}

@media only screen and (max-width:600px){
    .info-container-f{
        width: 60%;
    }

    .text-information-f{
        font-size: 10px;
    }

    .fight-style-target{
        font-size: 10px;
        width: 60%;
    }

    .btn-style-fight{
        font-size: 9px;
    }

    .statistics-style{
        font-size: 9px;
    }

    .myPokemon-target{
        width: 90%;
    }

    .buttons-attack button{
        font-size: 10px;
        width: 43%;
    }
}























