.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-image: url("./Images/background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 50%;
  min-height: 100vh;
  width: 100%;
  position: absolute;
}

.App-content-home{
  padding-top: 13%;
  position: relative;
}

.App-link {
  color: #09d3ac;
}

