.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {  
  width: 100%;
  position: absolute;
  background-color: black;
}

.App-content-home{
  background-image: url("./Images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position-y: 100%;
  min-height: 100vh;
  position: relative;
}

.App-link {
  color: #09d3ac;
}

